In [ ]:
### For Loop

* Basic syntax 

```
for item in sequence:
    # code to be executed for each item
    # ...
```

* `for`: Keyword that signals the start of a for loop.
* `item`: Is a variable that represents the current item in the sequence during each iteration of the loop.
* `in` : A keyword used to specify that you are iterating *in* the given sequence.
* `sequence` : Collection of items that you want to iterate over (e.g., list, string, tuple, or range).
* `:` : Signifies the start of the ind
dented code block that will be executed for each iteration of the loop. 

Inside the indented code block, you place the actions or operations that you want to perform on each item in the sequence.The loop will automatically iterate through the entire sequence, executing the code block for each item.

In [9]:
# code demonstration
# list of high courts in Kenya 

high_court=['Kisumu','Kisii', 'Nyamira', 'Migori', 'Kitale']
for court in high_court:
    # code block to execute for each item
    print(court)
    if(court=='Nyamira'):
        break;

Kisumu
Kisii
Nyamira

In [8]:
4==5
4==4

True

In [ ]:
### Sequence Types
* Referes to data structures that hold collection of elemnets, whwre each element is accessible by an index or a key.
*These elements are ordered meaning they have a specific position with the sequence.

In [16]:
#looping through list court
for court in high_court:
    lower_case= court.lower()
    upper_case= court.upper()
    print(upper_case)

KISUMU
KISII
NYAMIRA
MIGORI
KITALE

In [17]:
print(high_court)

['Kisumu', 'Kisii', 'Nyamira', 'Migori', 'Kitale']

In [13]:
# list
print(high_court)
# accessing elemnets/items in a list by index
print(high_court[2])

['Kisumu', 'Kisii', 'Nyamira', 'Migori', 'Kitale']
Nyamira

In [18]:
# Tuple is similar to lists but the are immutable/cannot be changed, meaning:
#their contents cannot be changed after creation
#Syntax tuple_name = (Item1, Item 2.....)
noise_makers= ("Kocheli", "Solo", "Nyambane", "Yusuf")
print(noise_makers)

('Kocheli', 'Solo', 'Nyambane', 'Yusuf')

In [21]:
#loop through items in tuple
for noise_maker in noise_makers:
    #code to be executed
    print(noise_maker)

Kocheli
Solo
Nyambane
Yusuf

In [24]:
# accessing items in a tuple
    
print(noise_makers[0])

Kocheli

In [ ]:
Loop Body

*

In [ ]:
### Importanat points to consider:
1.**indentation** - The loop body is indented to indicate thta is part of the loop. it deifess the scope of loop body
2.**Iterations**- loop body is excuted onnce for each item in sequence that contains the elemnet upon which instructions and execution will be repeated.
3. **accessing loop varaiable**- The loop variable value can be accessed inside the loop body to perform specific actions to that value.
4.** Manipulation**- Inside the loop body you can perform various operations on the loop variable or use it to interact with other parts of the programm.

In [3]:
# Example
# ** to power 2
for num in range(1 ,6):
    square=num**2
    print(f"The square of {num}={square}")

The square of 1=1
The square of 2=4
The square of 3=9
The square of 4=16
The square of 5=25

### 'range ()
* a function commonly used especially when wirking with loops
* Generates a sequence of numbers within specified range, which can be used for various purposes e.g eviterating through a loop of ceratin numbers or creating a list of numbers
* 'range()' takes up to three arguments
1. **start(inclusive, optional)** - The starting value of the sequence. If omitted, the sequence starts from zero by default.
2. **stop(exclusive)** - The ending value of the sequence. The sequence will go up to the value, but not include the value in the sequence. example if stop is 50, and start is 0, the sequence will be all the numbers including 0 to 49, but not 50.
3. **step(optional)** - The difference between consecutive values in the sequence. By default, the value of step is 1.
*syntax 
```range(start, stop, step)``

In [ ]:
#### Basic range

* Only using stop to generate a sequence of numbers from 0 to 10
* Remember if you dont include start and step, python will automatically pick the numbers 0 and 1 as the default value for stop and step

In [14]:
# from 0 to 10
for num in range (11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
def greet_students(student_name):
    message= f"Hello{student_name}, welcome to training!!"
    return print (message)
greet_students("Lumumba")

HelloLumumba, welcome to training!!

#### specify start and stop
*generate a sequence where we specify start of the sequenec

In [15]:
#number between 30 and 40
for num in range (30, 41):
    print(num)

30
31
32
33
34
35
36
37
38
39
40

In [ ]:
#number between 30 and 40
for num in range (30, 41):
    print(num)

In [ ]:
#### Specufying start, stop and step
step is the diffrence btwn two consecutive numbers

In [16]:
# all numbers divisible by 3 between 3 and
for num in range (3, 31, 3):
    print(num)

3
6
9
12
15
18
21
24
27
30

In [17]:
# all even numbers divisible by 3 between 3 and
for num in range (6, 42, 3):
    print(num)

6
9
12
15
18
21
24
27
30
33
36
39

In [24]:
print(students_name)

NameError: name 'students_name' is not defined

In [25]:
#Disclaimer -- fot demo only
even_numbers=[]
for num in range(0,32,2):
    even_numbers.append(num)
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [22]:
print(student_name)

NameError: name 'student_names' is not defined

In [26]:
print(noise_makers)

NameError: name 'noise_makers' is not defined

In [27]:
#nested loops

In [5]:
def greet_students(student_name):
    message= f"Hello{student_name}, welcome to training!!"
    return print (message)
greet_students("Lumumba")

HelloLumumba, welcome to training!!

In [ ]:
student_names= ['Prof','Lumumba','Julia']
                for name in student_names:
                greet_students(name)

In [29]:
for i in range(1, 5):  
    print('* ' * i)

*
* *
* * *
* * * *

In [31]:
#define number of rows
num_rows=4
#outer loop for rows
for i in range(num_rows):
    #inner loop for printing the asterix(*)
    for j in range(i+1):
        print("*",end=" ")
    # move the next line after each row is printed
    print()

*
* *
* * *
* * * *

In [32]:
num_rows = 5
Star_List = "*"
for i in range (num_rows):
    for j in range (i+1):
        print (Star_List, end = " ")
    print ()

*
* *
* * *
* * * *
* * * * *

In [34]:
num_rows = 5
Star_List = "*"
for i in range (num_rows):
    for j in range (1-i):
        print (end = " "Star_List, end = " ")
    print ()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1422581078.py, line 5)

In [4]:
rows =5
for i in range (rows):
    #print spaces before asterisks
    for k in range (rows -i -1):
        print(' ', end=' ')
    #print asterisks for the current row
    for j in range (i+1):
        print('*', end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
list=[1,2,3,4,5]
for i in len(list):
    for h in

In [21]:
# number of rows
rows = 4
#loop through each row
for i in range (0,rows):
    for j in range(rows -i-1):
        print(" ", end="")
    for k in range (0, i+1):
        print("*", end="")
    print() # move to next line after each row

   *
  **
 ***
****

**BREAKAND CONTNUE***

* They are control flow statement (used to control the flow loops)
* ** Break** used to immediately exit a loop when a certain condition is met.
when the programme encounters the ``` break`` statement , it terminats the loop and continues to execute the code after the loop. its is often used when a specific conition is satisfied and there is no need to continue looping further

In [22]:
# example 
for i in range (10):
    if i == 5:
        break # exit the llop when i becomes 5
    print(i)

0
1
2
3
4

In [27]:
# example 2
for i in range (10):
    print(i)
    if (i == 5):
        break # exit the llop when i becomes 5

0
1
2
3
4
5

* **Continue** - Used to skip the remaining code in the current iteration of a loop and move to the next iteration. Useful when you want to skip certain steps or conditions within a loop without exiting the loop entirely.

In [33]:
# food list 
breakfast = ["Eggs", "Mahamri","Mbaazi", "Vucheni", "Tea"]

eugene_list =[]
for food in breakfast:
    if(food == "Eggs"):
        continue
    elif(food =="Vucheni"):
        continue
    else :
        eugene_lists.append(food)
print(eugene_list)

NameError: name 'eugene_lists' is not defined

In [35]:
# example 2
for i in range (10):
    if (i == 5):
        break # exit the llop when i becomes 5
    print(i)

0
1
2
3
4

In [37]:
# example4
# food list
breakfast = ["Eggs", "Mahamri", "Mbaazi", "Vucheni", "Tea", "Milk", "Ndazi"]

my_list = []

for food in breakfast:
    if (food == "Eggs") or (food=="Mahamri") or(food== "Mbaazi"):
        continue
    else:
        my_list.append(food)

print(my_list)

['Vucheni', 'Tea', 'Milk', 'Ndazi']

### While Loops

* Allow you to repeat a block of code as long as a certain condition remains `True`.
* Basic Syntax 
```
while condition:
    # code block 
    # to execute
    ```
 It's crucial to make sure that the condition eventually becomes `False`; Reason - otherwise you will end up with an infinite loop, cause your program to run indefinitely(Well till your ram crashes)

#### While Loop key concepts 
1. **Initialization** - Initialize any variables that are used in loop condition before entering the loop.
2. **Update our condition** - Inside the loop, make sure that the condition is modified in a way that leads to it eventually becoming `False`. Otherwise you will create an infinite loop.

In [39]:
#Example -while loop to print numbers 1 to 5
count = 0 #initialization
while(count<=5): # While loop with condition
    print(count)
    count +=1 #updating our condition after every iteration

0
1
2
3
4
5

In [40]:
#Example 2
fruit =["apple", "banna","cherry", "mango", "pawpaw"]
print(fruit[0])
print(fruit[1])

apple
banna

In [43]:
# Print everything in the list
index = 0
while (index <5):
    print(fruit [index])
    index +=1

apple
banna
cherry
mango
pawpaw

In [47]:
# Example 3 -Multiplication table of 9
multiplier = 1
while(multiplier <= 10):
    product = multiplier *9
    print (f"{multiplier} *= {product}")
    
    multiplier += 1 # updating the condition

1 *= 9
2 *= 18
3 *= 27
4 *= 36
5 *= 45
6 *= 54
7 *= 63
8 *= 72
9 *= 81
10 *= 90

In [53]:
#Nested loop
rows = 5
i = 0
while (i< rows):
    j = 0
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i +=1

*
* *
* * *
* * * *
* * * * *

In [52]:
rows = 5
i = 0

while (i < rows):
    j = 0
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *