In [2]:
def get_grade():
    """ get user input"""
    # count = 5
    student_scores = []
    subjects = ["English", "Kiswahili", "Maths", "Science", "GHC"]
    # while(count <= 5):
    for subject in subjects:
        score = input(f"Enter {subject} score")
        student_scores.append(score)
    return student_scores
get_grade()

Enter English score 60
Enter Kiswahili score 75
Enter Maths score 90
Enter Science score 92
Enter GHC score 90

['60', '75', '90', '92', '90']

In [14]:
#Function to get student name
def get_student_name():
    name= input("student name e.g John Doe \n")
    return name
get_student_name()

student name e.g John Doe
 Bitutu Setura

'Bitutu Setura '

In [28]:
#Get student Scores
def get_scores():
    """ get user input"""
    # count = 5
    student_scores = []
    subjects = ["English", "Kiswahili", "Maths", "Science", "GHC"]
    # while(count <= 5):
    for subject in subjects:
        score = int(input(f"Enter {subject} score"))
        student_scores.append(score)
    return student_scores
get_scores()

Enter English score 89
Enter Kiswahili score 90
Enter Maths score 90
Enter Science score 90
Enter GHC score 90

[89, 90, 90, 90, 90]

In [48]:
def student_performance():
    """
    Get student name 
    Get student scores
    Grade student scores 
    """
    student_name = get_student_name()
    student_scores = get_scores()
    student_grades = []
    # loop through the grades
    for score in student_scores:
        if (score >=70) and (score <=100):
            grade = "A"
            student_grades.append(grade)
        elif (score <=69) and (score >= 60):
            grade = "B"
            student_grades.append(grade)
        elif (score <=59) and (score >= 50):
            grade = "C"
            student_grades.append(grade)
        elif (score <=49) and (score >= 40):
            grade = "D"
            student_grades.append(grade)
        elif (score <=39) and (score >= 0):
            grade = "E"
            student_grades.append(grade)
            grade = "E"
        else:
            print("inavlid grade")
            student_grades.append(None)
        
        total= sum(student_scores)
            
        return student_name, student_scores, student_grades, total

In [49]:
student_performance()

student name e.g John Doe
 Bitutu Setura
Enter English score 90
Enter Kiswahili score 90
Enter Maths score 95
Enter Science score 97
Enter GHC score 90

('Bitutu Setura', [90, 90, 95, 97, 90], ['A'], 462)

In [50]:
def student_performance():
    """Get student name
        Get students 
    sum the students
    """
    
    student_name = get_student_name()
    student_scores = get_scores()
    student_grade = []
    #loop through the grades
    for score in student_scores:
        if (score >=70) and (score<=100):
            grade="A"
            student_grade.append(grade)
            
        elif (score >=60) and (score <70):
            grade ="B"
            student_grade.append(grade)
              
        elif (score >=50) and (score <60):
            grade ="C"
            student_grade.append(grade)
              
        elif (score >=40) and (score <50):
            grade ="D"
            student_grade.append(grade)
              
        elif (score >=0) and (score <40):
            grade ="E"
            student_grade.append(grade)
        else:
            print("Invalid grade")
            student_grade.append(None)
    total=sum(student_scores)
              
    return student_name, student_scores,student_grade, total

In [51]:
student_performance()

student name e.g John Doe
 Bitutu Setura
Enter English score 90
Enter Kiswahili score 85
Enter Maths score 95
Enter Science score 98
Enter GHC score 90

('Bitutu Setura', [90, 85, 95, 98, 90], ['A', 'A', 'A', 'A', 'A'], 458)

In [67]:
# Adding more students
student_number = 0
Class_performance= {
    "Name":[],
    "English":[],
    "English_grade":[],
    "Kiswahili":[],
    "Kiswahili_grade":[],
    "Maths":[],
    "Maths_grade":[],
    "Science":[],
    "Science_grade":[],
    "GHC":[],
    "GHC_grade":[],
    "total":[]   
}
while (student_number <2):
    individual_student = student_performance()
    individual_student =list(individual_student)
    Class_performance["Name"].append (individual_student[0]) #First name in the individual performance list
    Class_performance["English"].append (individual_student[1][0])
    Class_performance["English_grade"].append (individual_student[2][0])
    Class_performance["Kiswahili"].append (individual_student[1][1])
    Class_performance["Kiswahili_grade"].append (individual_student[2][1])
    Class_performance["Maths"].append (individual_student[1][2])
    Class_performance["Maths_grade"].append (individual_student[2][2])
    Class_performance["Science"].append (individual_student[1][3])
    Class_performance["Science_grade"].append (individual_student[2][3])
    Class_performance["GHC"].append (individual_student[1][4])
    Class_performance["GHC_grade"].append (individual_student[2][4])
    Class_performance["total"].append (individual_student[3])
    student_number +=1

student name e.g John Doe
 Bitutu
Enter English score 90
Enter Kiswahili score 90
Enter Maths score 97
Enter Science score 96
Enter GHC score 95
student name e.g John Doe
 Tichi
Enter English score 98
Enter Kiswahili score 97
Enter Maths score 95
Enter Science score 95
Enter GHC score 90

In [69]:
print(Class_performance)

{'Name': ['Bitutu', 'Tichi'], 'English': [90, 98], 'English_grade': ['A', 'A'], 'Kiswahili': [90, 97], 'Kiswahili_grade': ['A', 'A'], 'Maths': [97, 95], 'Maths_grade': ['A', 'A'], 'Science': [96, 95], 'Science_grade': ['A', 'A'], 'GHC': [95, 90], 'GHC_grade': ['A', 'A'], 'total': [468, 475]}

In [70]:
import pandas as pd

pd.DataFrame(Class_performance)

,Name,English,English_grade,Kiswahili,Kiswahili_grade,Maths,Maths_grade,Science,Science_grade,GHC,GHC_grade,total
0,Bitutu,90,A,90,A,97,A,96,A,95,A,468
1,Tichi,98,A,97,A,95,A,95,A,90,A,475

In [56]:
print(class_performance)

{'Name': 'Julia Lumunba', 'English': 90}

In [52]:
# Adding a key value pairs in the dictionary
class_performance={}
class_performance["name"]= "Lumumba"
print (class_performance)

{'name': 'Lumumba'}